@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
    display: none !important;
}

body {
    background-color: rgb(39, 39, 39);
    transition: 0.3s;
}

#color-selector {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 20vh;
    width: 100vw;
    text-align: center;
}

#color-selector input {
    all: unset;
    color: black;
    font-size: 15vh;
    text-align: center;
    font-family: 'Inconsolata', monospace;
}

#buttons-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 250%);
    transition: 0.5s;
    text-align: center;
}

.button-command {
    margin: 0rem 2rem;
    height: 100%;
}

.button-command svg {
    height: 4vh;
    transition: 0.3s;
}

.button-command img {
    height: 4vh;
}

@media only screen and (min-width: 300px) and (orientation: portrait) {
    #color-selector input {
        font-size: 10vh;
    }

    #buttons-container {
        transform: translate(-50%, -50%);
    }

    .button-command {
        margin: 0;
    }

    .button-command svg {
        height: 2rem;
    }

    .button-command img {
        height: 2rem;
    }
}